** @muskanb @khush
app/src/main/java/com/example/healthcare/MenuActivity.java @test1
app/src/** @test2
app/src/main/java/com/example/healthcare/PatientProfileInformations.java @test7
app/src/main/java/com/example/healthcare/DoctorUI/ @test9
